In [13]:
from process_framework.references import Reference, ColumnReference
from pandas import DataFrame, Series
from typing import Any

In [14]:
df_ref = Reference(DataFrame)
df_ref

Reference[DataFrame](None)

In [15]:
records = [
    dict(id=1, name='Simon', car='Volvo'),
    dict(id=2, name='Dave', car='Lambo'),
    dict(id=4, name='Simon', car='Volvo'),
    dict(id=5, name='Dave', car='Lambo'),
    dict(id=6, name='Simon', car='Volvo'),
    dict(id=7, name='Dave', car='Lambo')
]

df = DataFrame.from_records(records, index='id')
df

     name    car
id
1   Simon  Volvo
2    Dave  Lambo
4   Simon  Volvo
5    Dave  Lambo
6   Simon  Volvo
7    Dave  Lambo

In [16]:
# assign a reference to `df`
df_ref.set(df)
print('has value?:', df_ref.has_value())
df_ref.value

has value?: True

     name    car
id
1   Simon  Volvo
2    Dave  Lambo
4   Simon  Volvo
5    Dave  Lambo
6   Simon  Volvo
7    Dave  Lambo

In [17]:
# get a reference to a column in `df`
col_ref = ColumnReference(
    column='pet', 
    df=df_ref
)
col_ref

Reference[Series](None)

In [18]:
# a series of values to assign
pets = Series({1:'dog', 2:'cat'})
pets

1    dog
2    cat
dtype: object

In [19]:
col_ref.set(pets)
display('col_ref', col_ref.get_value())
display('df_ref', df_ref.value)

'col_ref'

id
1    dog
2    cat
4    NaN
5    NaN
6    NaN
7    NaN
Name: pet, dtype: object

'df_ref'

     name    car  pet
id
1   Simon  Volvo  dog
2    Dave  Lambo  cat
4   Simon  Volvo  NaN
5    Dave  Lambo  NaN
6   Simon  Volvo  NaN
7    Dave  Lambo  NaN

In [20]:
car = ColumnReference(df=df_ref, column='car')
fuel_ref = ColumnReference(df=df_ref, column='fuel', column_as_index=car)
fuel_ref

Reference[Series](None)

In [21]:
fuels = Series({
    # 'Volvo':'Diesel', 
    'Lambo':'Bitcoin', 
    'Citroen':'Cidre'
})
fuels

Lambo      Bitcoin
Citroen      Cidre
dtype: object

In [22]:
fuel_ref.set(fuels)
df_ref.value

     name    car  pet     fuel
id
1   Simon  Volvo  dog      NaN
2    Dave  Lambo  cat  Bitcoin
4   Simon  Volvo  NaN      NaN
5    Dave  Lambo  NaN  Bitcoin
6   Simon  Volvo  NaN      NaN
7    Dave  Lambo  NaN  Bitcoin

In [23]:
print(col_ref)
print(df_ref)

Reference[Series]((6,), ['dog', 'cat', nan, ...])
Reference[DataFrame]((6, 4), {1: {'car': 'Volvo', 'fuel': nan, 'name': 'Simon', ...}, 2: {'car': 'Lambo', 'fuel': 'Bitcoin', 'name': 'Dave', ...}, 4: {'car': 'Volvo', 'fuel': nan, 'name': 'Simon', ...}, ...})