In [1]:
from process_framework.references import Reference, ColumnReference
from pandas import DataFrame, Series
from typing import Any

In [2]:
df_ref = Reference(DataFrame)
df_ref

Reference[DataFrame](None)

In [3]:
records = [
    dict(id=1, name='Simon', car='Volvo'),
    dict(id=2, name='Dave', car='Lambo')
]

df = DataFrame.from_records(records, index='id')
df

     name    car
id
1   Simon  Volvo
2    Dave  Lambo

In [4]:
# assign a reference to `df`
df_ref.set(df)
print('has value?:', df_ref.has_value())
df_ref.value

has value?: True

     name    car
id
1   Simon  Volvo
2    Dave  Lambo

In [5]:
# get a reference to a column in `df`
col_ref = ColumnReference(
    column='pet', 
    df=df_ref
)
col_ref

ColumnReference[DataFrame.pet](None)

In [6]:
# a series of values to assign
pets = Series({1:'dog', 2:'cat'})
pets

1    dog
2    cat
dtype: object

In [7]:
col_ref.set(pets)
display('col_ref', col_ref.get_value())
display('df_ref', df_ref.value)

'col_ref'

id
1    dog
2    cat
Name: pet, dtype: object

'df_ref'

     name    car  pet
id
1   Simon  Volvo  dog
2    Dave  Lambo  cat

In [8]:
fuel_ref = ColumnReference(df=df_ref, column='fuel', column_as_index='car')
fuel_ref

ColumnReference[DataFrame.fuel](None)

In [12]:
fuels = Series({
    # 'Volvo':'Diesel', 
    'Lambo':'Bitcoin', 
    'Citroen':'Cidre'
})
fuels

Lambo      Bitcoin
Citroen      Cidre
dtype: object

In [10]:
fuel_ref.set(fuels)
df_ref.value

     name    car  pet  fuel
id
1   Simon  Volvo  dog   NaN
2    Dave  Lambo  cat   NaN

In [11]:
print(col_ref)
print(df_ref)

ColumnReference[DataFrame.pet](None)
Reference[DataFrame](     name    car  pet  fuel
id
1   Simon  Volvo  dog   NaN
2    Dave  Lambo  cat   NaN)