In [1]:
from process_framework.references import Reference, ColumnReference
from pandas import DataFrame, Series
from typing import Any

In [2]:
df_ref = Reference(DataFrame)
df_ref

Reference[DataFrame](None)

In [3]:
records = [
    dict(id=1, name='Simon', car='Volvo'),
    dict(id=2, name='Dave', car='Lambo')
]

df = DataFrame.from_records(records, index='id')
df

     name    car
id
1   Simon  Volvo
2    Dave  Lambo

In [4]:
df_ref.set(df)

In [5]:
df_ref.has_value()

True

In [6]:
col_ref = ColumnReference('pet', df_ref)
col_ref

ColumnReference[DataFrame.pet](None)

In [7]:
series = Series({1:'dog', 2:'cat'})
series

1    dog
2    cat
dtype: object

In [8]:
col_ref.set(series)
df_ref.value

     name    car  pet
id
1   Simon  Volvo  dog
2    Dave  Lambo  cat

In [9]:
print(col_ref)
print(df_ref)

ColumnReference[DataFrame.pet](1    dog
2    cat
dtype: object)
Reference[DataFrame](     name    car  pet
id
1   Simon  Volvo  dog
2    Dave  Lambo  cat)