In [ ]:
from process_framework.steps.sql import GetSqlQueryResult, GetSqlTextQueryResult
from process_framework import Reference
from pandas import DataFrame, Series
from sqlalchemy import create_engine, URL, Engine, engine_from_config
import json
from pathlib import Path

import os
assert (root := os.environ["WORKSPACE_ROOT"]), 'expected to find `WORKSPACE_ROOT` env var with path to workspace root'

In [15]:
QUERY = "SELECT TOP 10 * FROM tblReports"

In [16]:
url_args = json.loads(Path(root, 'secrets', 'research_reports_db.json').read_text())
url_args

{'drivername': 'mssql+pyodbc',
 'host': 'SVMSQL03',
 'database': 'Cfa_Local',
 'query': {'driver': 'ODBC Driver 17 for SQL Server'}}

In [17]:
url = URL.create(**url_args)
engine = create_engine(url)
engine

Engine(mssql+pyodbc://SVMSQL03/Cfa_Local?driver=ODBC+Driver+17+for+SQL+Server)

In [18]:
df_ref = Reference(DataFrame)

In [19]:
# try the different constructors
for k, v in [('engine', dict(engine=engine)), ('engine_plus_args',dict(engine=engine, url_create_kwargs=url_args)), ('args', dict(url_create_kwargs=url_args))]:
    print(k)
    try: get_result = GetSqlTextQueryResult(df_ref, query=QUERY, **v); print(get_result)
    except Exception as e: print(e)
    print('\n')

engine
<process_model.steps.sql.get_sql_query_result.GetSqlTextQueryResult object at 0x000001A6FFE0C590>


engine_plus_args
expected exactly one of `engine` and `url_create_kwargs`, got engine:True url_create_kwargs:True


args
<process_model.steps.sql.get_sql_query_result.GetSqlTextQueryResult object at 0x000001A6FFE0C3E0>

In [20]:
df_ref = Reference(DataFrame)

get_result = GetSqlTextQueryResult(df_ref, query=QUERY, engine=engine)
get_result.do()

df_ref

Reference[DataFrame](   reportUID  seriesUID  sourceUID  \
0          1          2         20
1          2          2         20
2          3          2         20
3          4          2         20
4          5          2          0
5          6          2         20
6          7          2         11
7          8          2         20
8          9          2         20
9         10          2         20

                                               title       date  embargoed  \
0               RUNNYMEDE BRIDGE. TREE-RING ANALYSIS 1986-04-01      False
1         AMPHORAE FROM BANNAVENTA, NORTHAMPTONSHIRE 1986-04-01      False
2  STONE FROM THE MEDIEVAL LEVELS AT STAPLE GARDE... 1986-04-01      False
3  ANALYSIS OF NON-FERROUS METAL OBJECTS FROM MOR... 1985-12-01      False
4  A REPORT ON THE PALYNOLOGICAL DATING OF COAL S... 1972-07-01      False
5        INTERIM SOIL REPORT ON WHERWELL, HANTS 1964 1970-04-10      False
6                      CHARCOAL FROM POXWELL, DORSET 1973-02-04      False
7           BALDOCK, HERTS; ROMAN CEMETERY, TEXTILES 1973-01-01      False
8         SOIL-FLOOR MATERIAL; HINTON HALL,HADDENHAM 1972-03-06      False
9  A RECIRCULATING DEIONIZING/WASH SYSTEM FOR ARC... 1973-01-01      False

   published                                            summary  pages  \
0       True                                                         7
1       True                                                         2
2       True                                                         1
3       True                                                        12
4       True  A REPORT ON THE PALYNOLOGICAL DATING OF COAL S...     29
5       True                                                         2
6       True                                                         1
7       True                                                         1
8       True                                                         1
9       True                                                         0

   oldSeriesNumbering reportYear reportNumber  oldSeriesReportNumber  \
0                True       None         None                   4847
1                True       None         None                   4844
2                True       None         None                   4843
3                True       None         None                   4724
4                True       None         None                   1497
5                True       None         None                   1498
6                True       None         None                   1499
7                True       None         None                   1500
8                True       None         None                   1501
9                True       None         None                   1502

   availableOnline
0             True
1             True
2             True
3             True
4             True
5             True
6             True
7             True
8             True
9             True  )